<h1>Listing contact_transactions</h1>

<table>
  <thead>
    <tr>
      <th>Phone numer</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Charge</th>
      <th>Run</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_transactions.each do |contact_transaction| %>
      <tr>
        <td><%= contact_transaction.phone_numer %></td>
        <td><%= contact_transaction.genre %></td>
        <td><%= contact_transaction.duration %></td>
        <td><%= contact_transaction.charge %></td>
        <td><%= contact_transaction.run %></td>
        <td><%= link_to 'Show', contact_transaction %></td>
        <td><%= link_to 'Edit', edit_contact_transaction_path(contact_transaction) %></td>
        <td><%= link_to 'Destroy', contact_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact transaction', new_contact_transaction_path %>
